body {
    background-color: rgb(133,84,84);
    background-image: url("/public/img/background/fondo.png");
    background-size: 3000%;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (min-width: 400px) {
    body {
        background-size: 2200%;
    }   
}

@media (min-width: 600px) {
    body {
        background-size: 1400%;
    }   
}

@media (min-width: 800px) {
    body {
        background-size: 900%;
    }   
}

@media (min-width: 1000px) {
    body {
        background-size: 800%;
    }   
}