/* BODY */

html {
    font-size: 24px;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "GTAmerica", sans-serif;
    margin: 0;
    color: $color-primary;
    background-color: $background-color;
    background-image: url("/media/img/fondo.png");
    background-size: 3000%;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: $font-size-primary;
}

@media (min-width: 400px) {
    body {
        background-size: 2200%;
    }   
}

@media (min-width: 600px) {
    body {
        background-size: 1400%;
    }   
}

@media (min-width: 800px) {
    body {
        background-size: 900%;
    }   
}

@media (min-width: 1000px) {
    body {
        background-size: 800%;
    }   
}

/* GENERALS */

.link {
    color: $color-secondary;
    cursor: pointer;
    word-break: keep-all;
}

ul {

    margin-top: 0;
    margin-right: $padding-terciary;
    font-size: $font-size-secondary;

    li:not(:last-child) { 
        margin-bottom: $padding-primary;  
    }

}

/* LADDER TEXT */

.ladderText {

    white-space: pre-line;
    margin-bottom: $padding-secondary;

    .first-text {
        margin-left: $padding-primary;
        margin-right: $padding-secondary;
        line-height: $line-height-primary;
    }

    .second-text {
        margin-left: $padding-secondary;
        margin-right: $padding-primary;
        margin-top: $padding-primary;
        font-size: $font-size-secondary;
        line-height: $line-height-secondary;
    }

    .third-text {
        margin-left: $padding-terciary;
        margin-right: $padding-terciary;
        margin-top: $padding-terciary;
        font-size: $font-size-secondary;
    }    

    .newLine {
        display: block;
        height: $padding-primary;
    }

    .link {
        margin-left: 0.25rem;
        word-break: keep-all;
    }

    .url {
        color: $color-secondary;
        cursor: pointer;
    }

    .img {

        margin-left: $padding-terciary;
        margin-right: $padding-primary;
        margin-top: $padding-primary;
        width: calc(100% - 1.25rem);

        img {
            width: 100%;
            max-width: 400px;
        }

    }

}

/* DOWNLOAD LINK */

.downloadLink {
    color: $color-secondary;
    display: block;
    text-align: right;
    margin-bottom: $padding-secondary;
    margin-right: $padding-primary;
    cursor: pointer;
    font-size: $font-size-secondary;
}

/* SOCIAL NETWORKS */

.socialNetworks {

    display: flex;
    justify-content: flex-end;  
    margin-bottom: $padding-terciary;

    &-container {
    
        display: flex;
        margin-right: $padding-terciary;
    
        i {
            color: $color-secondary;
            font-size: $font-size-big;
            margin-left: $padding-secondary;
            cursor: pointer;
        }

        .fa-linkedin:before {
            content: "\f08c" !important;
        }

    }

}

/* MAIN CONTENT */

.main-content {
    display: block;
}

/* SECTION */

.section {
    
    position: relative; 
    max-width: $width-page;
    margin: 0 auto;
    padding-bottom: $padding-section;

    .title {
        display: none;
        color: $color-terciary;
        margin-left: $padding-primary;
        margin-right: $padding-terciary;
        margin-bottom: $padding-secondary;
        font-weight: bold;
    }

    .text {
        display: block;
        white-space: pre-line;
        margin-bottom: $padding-secondary;
        margin-left: $padding-primary;
        margin-right: $padding-terciary;
        line-height: $line-height-primary;
    }   

    a {
        color: $color-secondary;
        text-decoration: none;
    }

    .images {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
            max-width: 300px;
            height: auto;
            padding: $padding-primary;
        }

    }   

}

@media (max-width: 400px) {
    .section {
        .images {
            img {
                width: 100%;
                max-width: 400px;
                padding: 0;
                margin-bottom: $padding-primary;
            }
        }
    }
}

.section:first-of-type {
    padding-top: $header-height*2 + $padding-terciary; // Twice the header in order to show all in init + padding
}

/* HEADER */

header {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: $menu-color;
    background-image: url("/media/img/fondo.png");
    background-size: 200%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;

    .content {

        display: flex;
        flex-direction: row;
        z-index: 10;
        max-width: $width-page;
        width: 100%;
        height: auto;
        position: relative;

        span {
            cursor: pointer;
            padding-left: $padding-primary;
            color: $color-primary;
            letter-spacing: $letter-spacing-menu;
        }
    
        i {
            cursor: pointer;
            color: $color-secondary;   
            font-size: $font-size-primary;
            position: absolute;
            top: $padding-icon;
            right: $padding-secondary;
            z-index: 5;
        }

        i.visible {
            opacity: 1;
            transform: rotate(180deg);
            transition: all 0.25s linear;
            -webkit-transition: all 0.25s linear;
            -moz-transition: all 0.25s linear;
            -o-transition: all 0.25s linear;
        }

        i.no-visible {
            pointer-events: none;
            opacity: 0;
            transform: rotate(90deg);
            transition: all 0.25s linear;
            -webkit-transition: all 0.25s linear;
            -moz-transition: all 0.25s linear;
            -o-transition: all 0.25s linear;
        }

        .fa-times {
            font-size: $font-size-fa;
            top: 0.725rem;
        }

        .links {

            display: flex;
            flex-direction: column;
            padding: $padding-primary;
            height: $header-height;
            position: absolute;
            width: 100%;       
            max-width: $width-page;
            z-index: 3; 
            letter-spacing: $letter-spacing-menu;

            a {
                pointer-events: none;
                opacity: 0;
                position: absolute;
                top: $padding-secondary;
                transition: opacity 0.25s linear, top 0.25s linear;    
                -webkit-transition: opacity 0.25s linear, top 0.25s linear;
                -moz-transition: opacity 0.25s linear, top 0.25s linear;
                -o-transition: opacity 0.25s linear, top 0.25s linear;  
                z-index: 1;      
            }            

            a.active {
                pointer-events: all;
                opacity: 1;
                top: $padding-secondary;
                color: $color-primary;
                transition: opacity 0.25s linear, top 0.25s linear;    
                -webkit-transition: opacity 0.25s linear, top 0.25s linear;
                -moz-transition: opacity 0.25s linear, top 0.25s linear;
                -o-transition: opacity 0.25s linear, top 0.25s linear;  
                z-index: 2;
            }

        }

        .links.open {
            opacity: 0;
            transition: opacity 0.25s linear;
            -webkit-transition: opacity 0.25s linear;
            -moz-transition: opacity 0.25s linear;
            -o-transition: opacity 0.25s linear;         

        }

        .links.closed {
            opacity: 1;
            transition: opacity 0.15s linear;
            -webkit-transition: opacity 0.15s linear;
            -moz-transition: opacity 0.15s linear;
            -o-transition: opacity 0.15s linear;
        }

        .menu {
            display: flex;
            flex-direction: column;
            padding: $padding-primary;
            padding-top: $padding-secondary;
            padding-bottom: $padding-secondary;
            transition: max-height 0.25s linear;  
            -webkit-transition: max-height 0.25s linear;  
            -moz-transition: max-height 0.25s linear;  
            -o-transition: max-height 0.25s linear;  
            z-index: 4;
            letter-spacing: 0.075rem;
        }

        .menu.closed {

            pointer-events: none;
            max-height: $header-height;

            a {
                opacity: 0;
                transition: opacity 0.15s linear;
                -webkit-transition: opacity 0.15s linear;
                -moz-transition: opacity 0.15s linear;
                -o-transition: opacity 0.15s linear;
            }

        }

        .menu.open {

            height: auto;
            max-height: 280px;

            a {
                opacity: 1;
            }

        }

    }           

}

/* FOOTER */

footer {
    display: none;
}

/* MENU */

.ReactModal__Overlay{
    z-index: 5;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.menu-modal{

    width: 100%;
    height: 100%;
    background-image: url("/media/img/fondo.png");
    background-color: $color-terciary;
    background-size: 400%;
    background-position: center center;
    background-repeat: no-repeat;
    inset: 0px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .menu {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    
        a, span, .link {
            cursor: pointer;
            color: $color-primary;
            font-size: $font-size-big;
            text-decoration: none;
        }
    
        .link:hover {
            font-weight: bold;
        }

        i {
            position: absolute;
            top: 1rem;
            right: 1rem;
            color: $color-secondary;
            cursor: pointer;   
        }
    
    }
}

@media (min-width: 900px) {
    .menu-modal{
        .menu {
            a, span, .link {
                font-size: $font-size-big;
            }
        }
    }    
}

/* TEACHERS */

.teachers {

    .title {
        display: block;
        color: $color-secondary;
        font-weight: 100;
        margin-bottom: $padding-primary;
    }

    .teacherDetails {

        margin-bottom: $padding-secondary;
        margin-left: $padding-terciary;
        margin-right: $padding-primary;   
    
        .nameTitle {
    
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
    
            .teacherName {
                color: $color-secondary;           
                margin-right: $font-size-primary/4; // Point size
                font-size: $font-size-secondary;
            }        
    
            .teacherTitle {
                font-size: $font-size-secondary;
            }
    
        }

        .ladderText {

            .first-text {
    
                font-size: $font-size-secondary;
                margin-top: $padding-primary/4;
                margin-left: 0;
                line-height: $line-height-secondary;
        
                .link {
                    margin-left: 0.25rem;
                    word-break: keep-all;
                }
        
            }
        
            .second-text {
                margin-left: 0;
            }
        
            .url {
                display: block;
                font-size: $font-size-secondary;
                cursor: pointer;
                color: $color-secondary;
                margin-top: $padding-primary;
            }
        
            .img {
        
                margin-top: $padding-primary;
                width: 100%;
        
                img {
                    width: 100%;
                    max-width: 400px;
                }
        
            }

        }   
    
    }

}

/* ADMISSION */

.admission {    
    display: flex;
    flex-direction: column;   
}

/* NEWS */

.news {

    .new {
        
        .date {
            font-size: $font-size-secondary;
            margin-bottom: 0;
        }

        .newsLink {
            font-size: $font-size-secondary;
            margin-left: $padding-secondary;
            top: -$padding-secondary;
            position: relative;
        }

        img {
            width: 100%;
            max-width: 400px;
        }

    }

}

/* CONTACT */

.contact {

    display: flex;
    flex-direction: column;

    .map {
        
        align-self: center;
        width: 80%;
        height: 30vh;
        margin-top: $padding-terciary;
        margin-bottom: $padding-terciary;

        .infoWindow {

            display: flex;    
            flex-direction: column;        
            color: $color-terciary;

            &-title {
                font-weight: bold;
                margin-bottom: $padding-primary;
            }

            a {
                color: $color-secondary;
                font-weight: bold;
                cursor: pointer;
                margin-top: $padding-primary;
            }

        }

        .markerLabel {
            color: #1ea742 !important;
            margin-top: 10px;
            display: block;
            width: 60px;
            white-space: pre-wrap;
            font-weight: bold;
            font-size: 15px !important;
        }

    }

}