/* BODY */

html {
    font-size: 24px;
}

body {
    font-family: "GTAmerica", sans-serif;
    margin: 0;
    color: $color-primary;
    background-color: $background-color;
    background-image: url("/media/img/fondo.png");
    background-size: 2200%;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (min-width: 400px) {
    body {
        background-size: 1500%;
    }   
}

@media (min-width: 600px) {
    body {
        background-size: 900%;
    }   
}

@media (min-width: 800px) {
    body {
        background-size: 500%;
    }   
}

@media (min-width: 1000px) {
    body {
        background-size: 400%;
    }   
}

/* GENERALS */

.link {
    color: $color-secondary;
    cursor: pointer;
}

ul {

    margin-top: 0;
    margin-right: $padding-secondary;
    list-style: square;
    font-size: $font-size-secondary;

    li:not(:last-child) { 
        margin-bottom: $padding-primary;  
    }

}

/* LADDER TEXT */

.ladderText {

    white-space: pre-line;
    margin-bottom: $padding-secondary;

    .first-text {
        margin-left: $padding-primary;
        margin-right: $padding-secondary;
    }

    .second-text {
        margin-left: $padding-secondary;
        margin-right: $padding-secondary;
        margin-top: $padding-secondary;
        font-size: $font-size-secondary;
    }

    .third-text {
        margin-left: $padding-terciary;
        margin-right: $padding-secondary;
        margin-top: $padding-secondary;
        font-size: $font-size-terciary;
    }

    .link {
        margin-left: 0.25rem;
    }

}

/* DOWNLOAD LINK */

.downloadLink {
    color: $color-secondary;
    display: block;
    text-align: right;
    margin-bottom: $padding-secondary;
    margin-right: $padding-primary;
    cursor: pointer;
}

/* SOCIAL NETWORKS */

.socialNetworks {

    display: flex;
    justify-content: flex-end;  
    margin-bottom: $padding-secondary;

    &-container {
    
        display: flex;
        margin-right: $padding-secondary;
    
        i {
            color: $color-secondary;
            font-size: $font-size-big;
            margin-left: $padding-intermediate;
            cursor: pointer;
        }

        .fa-linkedin:before {
            content: "\f08c" !important;
        }

    }

}

/* MAIN CONTENT */

.main-content {
    display: block;
}

/* SECTION */

.section:first-of-type {
    padding-top: $padding-terciary;
}

.section {
    
    max-width: $width-page;
    margin: 0 auto;
    padding-bottom: $padding-section;

    .title {
        display: block;
        color: $color-terciary;
        margin-left: $padding-primary;
        margin-right: $padding-secondary;
        margin-bottom: $padding-secondary;
        font-weight: bold;
    }

    .text {
        display: block;
        white-space: pre-line;
        margin-bottom: $padding-secondary;
        margin-left: $padding-primary;
        margin-right: $padding-secondary;
    }   

    a {
        color: $color-secondary;
        text-decoration: none;
    }

}

/* HEADER */

header {

    position: fixed;
    width: 100%;
    background-color: $menu-color;
    background-image: url("/media/img/fondo.png");
    background-size: 200%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;

    .content {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
        z-index: 10;
        max-width: $width-page;
        margin: 0 auto;

        span {
            cursor: pointer;
            padding-left: $padding-primary;
        }
    
        .fa {
            cursor: pointer;
            padding-right: $padding-secondary;
            color: $color-secondary;   
        }

    }    

}

/* FOOTER */

footer {
    display: none;
}

/* MENU */

.ReactModal__Overlay{
    z-index: 5;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.menu-modal{

    width: 100%;
    height: 100%;
    background-image: url("/media/img/fondo.png");
    background-color: $color-terciary;
    background-size: 400%;
    background-position: center center;
    background-repeat: no-repeat;
    inset: 0px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .menu {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    
        a, span, .link {
            cursor: pointer;
            color: $color-primary;
            font-size: $font-size-big;
            text-decoration: none;
        }
    
        .link:hover {
            font-weight: bold;
        }

        i {
            position: absolute;
            top: 1rem;
            right: 1rem;
            color: $color-secondary;
            cursor: pointer;   
            font-size: $font-size-big;
        }
    
    }
}

@media (min-width: 900px) {
    .menu-modal{
        .menu {
            a, span, .link {
                font-size: $font-size-super-big;
            }
        }
    }    
}

/* TEACHERS */

.teacherDetails {

    margin-bottom: $padding-secondary;
    margin-left: $padding-primary;
    margin-right: $padding-secondary;   

    .nameTitle {

        display: flex;
        align-items: baseline;
        flex-wrap: wrap;

        .teacherName {
            font-size: $font-size-primary;
            color: $color-secondary;           
            margin-right: $padding-primary;
        }        

        .teacherTitle {
            font-size: $font-size-secondary;
        }

    }

    .description {

        font-size: $font-size-secondary;
        margin-top: $padding-primary;

        .link {
            margin-left: 0.25rem;
        }

    }

    .subdescription {
        font-size: $font-size-secondary;
        margin-top: $padding-secondary;
        margin-left: $padding-secondary;
    }

    .url {
        display: block;
        font-size: $font-size-secondary;
        cursor: pointer;
        color: $color-secondary;
        margin-top: $padding-intermediate;
    }

}

/* ADMISSION */

.admission {
    display: flex;
    flex-direction: column;   
}

/* NEWS */

.news {

    .new {
        
        .date {
            font-size: $font-size-secondary;
        }

        .link {
            margin-left: $padding-primary;
        }

    }

}

/* CONTACT */

.contact {

    display: flex;
    flex-direction: column;

    .map {
        
        align-self: center;
        width: 80%;
        height: 30vh;
        margin-top: $padding-secondary;
        margin-bottom: $padding-secondary;

        .infoWindow {

            display: flex;    
            flex-direction: column;        
            color: $color-terciary;

            &-title {
                font-weight: bold;
                margin-bottom: $padding-primary;
            }

            a {
                color: $color-secondary;
                font-weight: bold;
                cursor: pointer;
                margin-top: $padding-primary;
            }

        }

        .markerLabel {
            color: #1ea742 !important;
            margin-top: 10px;
            display: block;
            width: 60px;
            white-space: pre-wrap;
            font-weight: bold;
            font-size: 15px !important;
        }

    }

}