@font-face {
    font-family: 'Roboto';
    src: url("./../media/fonts/Roboto-Regular.ttf") format("truetype");
 }

 @font-face {
    font-family: 'GTAmerica';
    src: url("./../media/fonts/GT-America-Medium.otf") format("opentype");
 }