/* Variables */

$font-stack: "GTAmerica", "Roboto", monospace, sans-serif;

$width-page: 900px;
$header-height: 1.5rem;

$color-primary: white;
$color-secondary: rgb(0,255,153);
$color-terciary: rgb(51,51,51);

$menu-color: rgb(51,51,51);
$background-color: rgb(133,84,84);
$pixel-color: #666666;

$padding-primary: 0.4rem;
$padding-secondary: 0.8rem;
$padding-terciary: 1rem;
$padding-section: 10rem;

$font-size-primary: 1rem;
$font-size-secondary: 0.62rem;
$font-size-terciary: 0.75rem;
$font-size-fa: 1.25rem;
$font-size-big: 1.5rem;

$line-height-primary: 1rem;
$line-height-secondary: 0.5rem;
$line-height-terciary: 0.5rem;
$line-height-fa: 1.5rem;
$line-height-big: 1.5rem;